.subtitles{
    position: relative;
}
.sub-button{
    background-color: #b0e3af;
    bottom: 16px;
    left: 12px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.sub-num{
    background-color: #b0e3af;
    bottom: 16px;
    left: 32px;
    padding-left: 0;
    font-weight: bold;
}
.sub-img{
    height: 10px;
}
.video-ep{
    bottom: 16px;
    left: 48px;
    background-color: pink;
    color: white;
    font-size: 14px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.sub-button,
.sub-num,
.video-ep{
    height: 20px;
    position: absolute;
    border: none;
}


